{% extends '::base.html.twig' %}

{% block body -%}

    {{ tinymce_init() }}
    <h1>Page creation</h1>


    {{ form(form, {'attr' : {'novalidate' : 'novalidate'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
